@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-BlackItalic.woff2') format('woff2'),
        url('../fonts/WorkSans-BlackItalic.woff') format('woff'),
        url('../fonts/WorkSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Black.woff2') format('woff2'),
        url('../fonts/WorkSans-Black.woff') format('woff'),
        url('../fonts/WorkSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Bold.woff2') format('woff2'),
        url('../fonts/WorkSans-Bold.woff') format('woff'),
        url('../fonts/WorkSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/WorkSans-BoldItalic.woff') format('woff'),
        url('../fonts/WorkSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/WorkSans-ExtraBold.woff') format('woff'),
        url('../fonts/WorkSans-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/WorkSans-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/WorkSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-ExtraLight.woff2') format('woff2'),
        url('../fonts/WorkSans-ExtraLight.woff') format('woff'),
        url('../fonts/WorkSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/WorkSans-ExtraLightItalic.woff') format('woff'),
        url('../fonts/WorkSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Italic.woff2') format('woff2'),
        url('../fonts/WorkSans-Italic.woff') format('woff'),
        url('../fonts/WorkSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Light.woff2') format('woff2'),
        url('../fonts/WorkSans-Light.woff') format('woff'),
        url('../fonts/WorkSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-LightItalic.woff2') format('woff2'),
        url('../fonts/WorkSans-LightItalic.woff') format('woff'),
        url('../fonts/WorkSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Medium.woff2') format('woff2'),
        url('../fonts/WorkSans-Medium.woff') format('woff'),
        url('../fonts/WorkSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-MediumItalic.woff2') format('woff2'),
        url('../fonts/WorkSans-MediumItalic.woff') format('woff'),
        url('../fonts/WorkSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Regular.woff2') format('woff2'),
        url('../fonts/WorkSans-Regular.woff') format('woff'),
        url('../fonts/WorkSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-SemiBold.woff2') format('woff2'),
        url('../fonts/WorkSans-SemiBold.woff') format('woff'),
        url('../fonts/WorkSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/WorkSans-SemiBoldItalic.woff') format('woff'),
        url('../fonts/WorkSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Thin.woff2') format('woff2'),
        url('../fonts/WorkSans-Thin.woff') format('woff'),
        url('../fonts/WorkSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-ThinItalic.woff2') format('woff2'),
        url('../fonts/WorkSans-ThinItalic.woff') format('woff'),
        url('../fonts/WorkSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}