    $clr-yellow: #ffb83d;
    $clr-green: #00c9c3;
    $clr-dark-blue: #00305b;
    $clr-gray: #444444;
    $clr-white-light: #fff;
    $clr-black-dark: #000;
    /*  $clr-blue-gradient: linear-gradient(90deg, rgba(81, 29, 229, 1) 0%, rgba(9, 144, 252, 1) 100%); */
    $font-work: 'Work Sans', sans-serif;
    $primary-color: #333;

